build/components-test.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page | Example of extending blocks</title>
    <!-- Iclude any head elements here-->
    <!-- include partials/head-->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/pages/components-test.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <header></header>
      <main class="grid-wrapper">
        <div class="item-1">
          <div class="header"><img src="./assets/myHR_logo_white.png" alt="My HR Logo">
            <div class="nav-btns">
              <button class="primary-btn">My Self Service</button>
            </div>
            <button class="mobile-menu-btn" onclick="toggleMenu()"><img src="./assets/mobile-menu.png" alt="mobile menu"></button>
            <button class="mobile-close-btn" onclick="toggleMenu()"><img src="./assets/close-btn.png" alt="mobile menu"></button>
          </div>
        </div>
        <div class="item-2 hide">
          <div class="black-nav"><a href="#">
              <h5>Policies</h5></a><a href="#">
              <h5>Collective Agreements</h5></a><a href="#">
              <h5>Payroll Schedule</h5></a><a href="#">
              <h5>Resources &amp; Toolkits</h5></a><a href="#">
              <h5>Your Voice</h5></a><a href="#">
              <h5>Ideas at Work</h5></a><a href="#">
              <h5>CHRO's Message</h5></a>
          </div>
          <div class="transparent-nav"><a href="#">
              <h5>Leaves of Absence</h5></a><a href="#">
              <h5>Benefits</h5></a><a href="#">
              <h5>Pension</h5></a><a href="#">
              <h5>Employee Pay</h5></a>
          </div>
        </div>
        <div class="item-3">
          <h2>Image Carousels</h2>
          <hr class="heading-hr">
          <div class="image-carousel-container">
            <button class="left-arrow" data-controls="prev" tabindex="-1" aria-controls="tns1"><img src="./assets/carousel-chevron.png"></button>
            <button class="right-arrow" data-controls="next" tabindex="-1" aria-controls="tns1"><img src="./assets/carousel-chevron.png"></button>
            <div class="image-carousel0">
              <div class="carousel-img"><img src="./assets/c1.jpg"></div>
              <div class="carousel-img"><img src="./assets/c2.jpg"></div>
              <div class="carousel-img"><img src="./assets/c4.jpg"></div>
              <div class="carousel-img"><img src="./assets/c5.jpg"></div>
              <div class="carousel-img"><img src="./assets/c6.jpg"></div>
              <div class="carousel-img"><img src="./assets/c7.jpg"></div>
              <div class="carousel-img"><img src="./assets/c9.jpg"></div>
            </div>
          </div>
          <div class="image-carousel-container">
            <button class="left-arrow" data-controls="prev" tabindex="-1" aria-controls="tns1"><img src="./assets/carousel-chevron.png"></button>
            <button class="right-arrow" data-controls="next" tabindex="-1" aria-controls="tns1"><img src="./assets/carousel-chevron.png"></button>
            <div class="image-carousel1">
              <div class="carousel-img"><img src="./assets/c1.jpg">
                <h5>Lorem Ipsum</h5>
              </div>
              <div class="carousel-img"><img src="./assets/c2.jpg">
                <h5>Lorem Ipsum</h5>
              </div>
              <div class="carousel-img"><img src="./assets/c4.jpg">
                <h5>Lorem Ipsum</h5>
              </div>
              <div class="carousel-img"><img src="./assets/c5.jpg">
                <h5>Lorem Ipsum</h5>
              </div>
              <div class="carousel-img"><img src="./assets/c6.jpg">
                <h5>Lorem Ipsum</h5>
              </div>
              <div class="carousel-img"><img src="./assets/c7.jpg">
                <h5>Lorem Ipsum</h5>
              </div>
              <div class="carousel-img"><img src="./assets/c9.jpg">
                <h5>Lorem Ipsum</h5>
              </div>
            </div>
          </div>
          <div class="image-carousel-container">
            <button class="left-arrow" data-controls="prev" tabindex="-1" aria-controls="tns1"><img src="./assets/carousel-chevron.png"></button>
            <button class="right-arrow" data-controls="next" tabindex="-1" aria-controls="tns1"><img src="./assets/carousel-chevron.png"></button>
            <div class="image-carousel2">
              <div class="carousel-img"><img src="./assets/c1.jpg"><a href="#">Lorem Ipsum</a></div>
              <div class="carousel-img"><img src="./assets/c2.jpg"><a href="#">Lorem Ipsum</a></div>
              <div class="carousel-img"><img src="./assets/c4.jpg"><a href="#">Lorem Ipsum</a></div>
              <div class="carousel-img"><img src="./assets/c5.jpg"><a href="#">Lorem Ipsum</a></div>
              <div class="carousel-img"><img src="./assets/c6.jpg"><a href="#">Lorem Ipsum</a></div>
              <div class="carousel-img"><img src="./assets/c7.jpg"><a href="#">Lorem Ipsum</a></div>
              <div class="carousel-img"><img src="./assets/c9.jpg"><a href="#">Lorem Ipsum</a></div>
            </div>
          </div>
          <h2>Notifications</h2>
          <hr class="heading-hr">
          <div class="notification">
            <div class="heading"><img src="./assets/notification-bell.png">
              <h5>Please Note</h5>
            </div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
          <h2>Tables</h2>
          <hr class="heading-hr">
          <div class="responsive-table">        
            <table>
              <thead>
                <tr>
                  <th>I am…</th>
                  <th>Without People Change Management…</th>
                  <th>With People Change Management…</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>An Exective Leader</td>
                  <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                  <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                </tr>
                <tr>
                  <td>An Exective Leader</td>
                  <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                  <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                </tr>
                <tr>
                  <td>An Exective Leader</td>
                  <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                  <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2>Modals</h2>
          <hr class="heading-hr">
          <div class="modal-show">
            <button class="primary-btn" onclick="show('m1')">Show Modal</button>
          </div>
          <div class="modal-btn" id="m1">
            <div class="button-layout">
              <h5>Application Sent!</h5>
              <button class="close-btn" onclick="hide('m1')"><img src="./assets/close-btn.png" alt="modal close"/></button>
              <p>HR will send you a letter to confirm your Pregnancy and/or Parental Leave dates, pension &amp; benefit details and an Authorization for Benefit Deductions form, if applicable.</p>
              <button class="primary-btn" onclick="hide('m1')">OK</button>
            </div>
          </div>
          <div class="modal-show">
            <button class="primary-btn" onclick="show('m2')">Show Modal</button>
          </div>
          <div class="modal-img" id="m2">
            <h5>Application Sent!</h5>
            <button class="close-btn" onclick="hide('m2')"><img src="./assets/close-btn.png" alt="modal close"/></button>
            <div class="img-layout"><img src="./assets/c8.jpg"/>
              <p>HR will send you a letter to confirm your Pregnancy and/or Parental Leave dates, pension &amp; benefit details and an Authorization for Benefit Deductions form, if applicable.</p>
            </div>
          </div>
          <h2>Extra Layouts</h2>
          <hr class="heading-hr">
          <div class="inner-grid half-layout">
            <div class="media"><img src="./assets/c8.jpg"></div>
            <div class="content">
              <h4>Confirmation</h4>Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave. No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice. Include a medical note from your doctor confirming your expected due date.
            </div>
          </div>
          <div class="quarter-layout">
            <div class="inner-grid">
              <div class="media"><img src="./assets/c8.jpg"></div>
              <div class="content">
                <h4>Confirmation</h4>Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave. No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice. Include a medical note from your doctor confirming your expected due date.
              </div>
            </div>
            <p>Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave. No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice. Include a medical note from your doctor confirming your expected due date.</p>
          </div>
          <div class="related-crosslinks">
            <h2>Related Links</h2>
          </div>
          <div class="contact-footer">
            <hr class="blade-hr">
            <div class="contact-footer-content"><img src="./assets/icon-thumbs.png" alt="icon">
              <h5>17</h5>
            </div>
            <hr class="blade-hr">
          </div>
          <div class="footer-icons">
            <div class="footer-icons"><img src="./assets/icon-bell.png" alt="bell icon"><img src="./assets/icon-tag.png" alt="bell icon"></div>
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="./javascript/accordians.js"></script>
    <script src="./javascript/showHide.js"></script>
    <script src="./javascript/tabs.js"></script>
    <script src="./javascript/responsive-tables.js"></script>
    <script src="./javascript/mobile-menu.js"></script>
    <script src="./javascript/tiny-slider.js"></script>
    <script src="./javascript/carousel.js"></script>
  </body>
</html>

src/pug/pages/components-test.pug
extends ../layout.pug
include ../utility/nav-item.pug
include ../utility/modal.pug

block title
    title Index page | Example of extending blocks

block styles
    link(href='css/pages/components-test.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css', rel='stylesheet')

block black-nav
    +nav-item('Policies')
    +nav-item('Collective Agreements')
    +nav-item('Payroll Schedule')
    +nav-item('Resources & Toolkits')
    +nav-item('Your Voice')
    +nav-item('Ideas at Work')
    +nav-item("CHRO's Message")


block transparent-nav
    +nav-item('Leaves of Absence')
    +nav-item('Benefits')
    +nav-item('Pension')
    +nav-item('Employee Pay')

block content-body
    h2 Image Carousels
    hr.heading-hr
    .image-carousel-container
        button(data-controls="prev", tabindex="-1", aria-controls="tns1").left-arrow
            img(src="./assets/carousel-chevron.png")
        button(data-controls="next", tabindex="-1", aria-controls="tns1").right-arrow
            img(src="./assets/carousel-chevron.png")
        .image-carousel0
            .carousel-img
                img(src="./assets/c1.jpg")
            .carousel-img
                img(src="./assets/c2.jpg")
            .carousel-img
                img(src="./assets/c4.jpg")
            .carousel-img
                img(src="./assets/c5.jpg")
            .carousel-img
                img(src="./assets/c6.jpg")
            .carousel-img
                img(src="./assets/c7.jpg")
            .carousel-img
                img(src="./assets/c9.jpg")
    .image-carousel-container
        button(data-controls="prev", tabindex="-1", aria-controls="tns1").left-arrow
            img(src="./assets/carousel-chevron.png")
        button(data-controls="next", tabindex="-1", aria-controls="tns1").right-arrow
            img(src="./assets/carousel-chevron.png")
        .image-carousel1
            .carousel-img
                img(src="./assets/c1.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c2.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c4.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c5.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c6.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c7.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c9.jpg")
                h5 Lorem Ipsum
    .image-carousel-container
        button(data-controls="prev", tabindex="-1", aria-controls="tns1").left-arrow
            img(src="./assets/carousel-chevron.png")
        button(data-controls="next", tabindex="-1", aria-controls="tns1").right-arrow
            img(src="./assets/carousel-chevron.png")
        .image-carousel2
            .carousel-img
                img(src="./assets/c1.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c2.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c4.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c5.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c6.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c7.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c9.jpg")
                a(href="#") Lorem Ipsum
    h2 Notifications
    hr.heading-hr
    .notification
        .heading
            img(src="./assets/notification-bell.png")
            h5 Please Note
        .
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    h2 Tables
    hr.heading-hr
    .responsive-table         
        table
            thead
                tr
                    th I am…
                    th Without People Change Management…
                    th With People Change Management…
            tbody
                tr
                    td An Exective Leader
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                tr
                    td An Exective Leader
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                tr
                    td An Exective Leader
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    h2 Modals
    hr.heading-hr
    div.modal-show
        button(onclick="show('m1')").primary-btn Show Modal
    +modal('Application Sent!', 'HR will send you a letter to confirm your Pregnancy and/or Parental Leave dates, pension & benefit details and an Authorization for Benefit Deductions form, if applicable.', 'm1', 'OK', null)(id='m1')
    div.modal-show
        button(onclick="show('m2')").primary-btn Show Modal
    +modal('Application Sent!', 'HR will send you a letter to confirm your Pregnancy and/or Parental Leave dates, pension & benefit details and an Authorization for Benefit Deductions form, if applicable.', 'm2', null, './assets/c8.jpg')(id='m2')
    h2 Extra Layouts
    hr.heading-hr
    .inner-grid.half-layout
        .media
            img(src="./assets/c8.jpg")
        .content
            h4 Confirmation
            .
                Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave. No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice. Include a medical note from your doctor confirming your expected due date.
    .quarter-layout
        .inner-grid
            .media
                img(src="./assets/c8.jpg")
            .content
                h4 Confirmation
                .
                    Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave. No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice. Include a medical note from your doctor confirming your expected due date.
        p Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave. No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice. Include a medical note from your doctor confirming your expected due date.

block contact-footer-content
    .contact-footer-content
        img(src="./assets/icon-thumbs.png", alt="icon")
        h5 17

block footer-icons
    .footer-icons
        img(src="./assets/icon-bell.png", alt="bell icon")
        img(src="./assets/icon-tag.png", alt="bell icon")

                
