src/pug/pages/home.pug
extends ../layout-home.pug
include ../utility/nav-item.pug
include ../utility/page-tile.pug

block title
    title Index page | Example of extending blocks

block styles
    link(href='css/pages/home.css', rel='stylesheet')

block black-nav
    +nav-item('Policies')
    +nav-item('Collective Agreements')
    +nav-item('Payroll Schedule')
    +nav-item('Resources & Toolkits')
    +nav-item('Your Voice')
    +nav-item('Ideas at Work')
    +nav-item("CHRO's Message")


block transparent-nav
    +nav-item('Leaves of Absence')
    +nav-item('Benefits')
    +nav-item('Pension')
    +nav-item('Employee Pay')

block content-body
    .text-block
        h4 Welcome to your home for everything work.
    h2 What's new
    hr.heading-hr
    .news-display
        .news-block
            h5 New guidelines for workplace harassment prevention Information
            .flex-inner
                a(href="#").inline-btn Health & Safety
                p Mar 20, 2019
            .
                At Metrolinx, we workplace harassment very seriously. Lorem ipsum dolor sit eiusmod tempor…
        .news-block
            h5 Pension plans and policies set for revisions mid-2019
            .flex-inner
                a(href="#").inline-btn Pay & Benefits
                p Feb 16, 2019
            .
                At Metrolinx, we workplace harassment very seriously. Lorem ipsum dolor sit eiusmod tempor…
    h2.page-tile-header How can we help?
    .page-tiles-display
        +page-tile('./assets/pay-benefits.png', 'My Pay & Benefits', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/career.png', 'My Career', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/health.png', 'My Health & Wellness', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/inclusion.png', 'Inclusion & Engagement', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/learning.png', 'Learning', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/action.png', 'Self Service', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')

block contact-footer-content
    .contact-footer-content
        img(src="./assets/icon-thumbs.png", alt="icon")
        h5 17

block footer-icons
    .footer-icons
        img(src="./assets/icon-bell.png", alt="bell icon")
        img(src="./assets/icon-tag.png", alt="bell icon")

                

build/home.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page | Example of extending blocks</title>
    <!-- Iclude any head elements here-->
    <!-- include partials/head-->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/pages/home.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <header></header>
      <main class="grid-wrapper">
        <div class="item-1">
          <div class="header"><img src="./assets/myHR_logo_white.png" alt="My HR Logo">
            <div class="nav-btns">
              <button class="primary-btn">My Self Service</button>
            </div>
            <button class="mobile-menu-btn" onclick="toggleMenu()"><img src="./assets/mobile-menu.png" alt="mobile menu"></button>
            <button class="mobile-close-btn" onclick="toggleMenu()"><img src="./assets/close-btn.png" alt="mobile menu"></button>
          </div>
        </div>
        <div class="item-2 hide">
          <div class="black-nav"><a href="#">
              <h5>Policies</h5></a><a href="#">
              <h5>Collective Agreements</h5></a><a href="#">
              <h5>Payroll Schedule</h5></a><a href="#">
              <h5>Resources &amp; Toolkits</h5></a><a href="#">
              <h5>Your Voice</h5></a><a href="#">
              <h5>Ideas at Work</h5></a><a href="#">
              <h5>CHRO's Message</h5></a>
          </div>
          <div class="transparent-nav"><a href="#">
              <h5>Leaves of Absence</h5></a><a href="#">
              <h5>Benefits</h5></a><a href="#">
              <h5>Pension</h5></a><a href="#">
              <h5>Employee Pay</h5></a>
          </div>
        </div>
        <div class="item-3">
          <div class="text-block">
            <h4>Welcome to your home for everything work.</h4>
          </div>
          <h2>What's new</h2>
          <hr class="heading-hr">
          <div class="news-display">
            <div class="news-block">
              <h5>New guidelines for workplace harassment prevention Information</h5>
              <div class="flex-inner"><a class="inline-btn" href="#">Health & Safety</a>
                <p>Mar 20, 2019</p>
              </div>At Metrolinx, we workplace harassment very seriously. Lorem ipsum dolor sit eiusmod tempor…
            </div>
            <div class="news-block">
              <h5>Pension plans and policies set for revisions mid-2019</h5>
              <div class="flex-inner"><a class="inline-btn" href="#">Pay & Benefits</a>
                <p>Feb 16, 2019</p>
              </div>At Metrolinx, we workplace harassment very seriously. Lorem ipsum dolor sit eiusmod tempor…
            </div>
          </div>
          <h2 class="page-tile-header">How can we help?</h2>
          <div class="page-tiles-display">
            <div class="page-tile"><img class="tile-icon" src="./assets/pay-benefits.png" alt="icon"/>
              <h2>My Pay &amp; Benefits</h2>
              <p>Two line description - (16px) Lorem Ipsum is simply dummy text of the…</p><a class="inline-btn details" href="#">Details<img class="chevron" src="./assets/chevron-green.png"/></a>
            </div>
            <div class="page-tile"><img class="tile-icon" src="./assets/career.png" alt="icon"/>
              <h2>My Career</h2>
              <p>Two line description - (16px) Lorem Ipsum is simply dummy text of the…</p><a class="inline-btn details" href="#">Details<img class="chevron" src="./assets/chevron-green.png"/></a>
            </div>
            <div class="page-tile"><img class="tile-icon" src="./assets/health.png" alt="icon"/>
              <h2>My Health &amp; Wellness</h2>
              <p>Two line description - (16px) Lorem Ipsum is simply dummy text of the…</p><a class="inline-btn details" href="#">Details<img class="chevron" src="./assets/chevron-green.png"/></a>
            </div>
            <div class="page-tile"><img class="tile-icon" src="./assets/inclusion.png" alt="icon"/>
              <h2>Inclusion &amp; Engagement</h2>
              <p>Two line description - (16px) Lorem Ipsum is simply dummy text of the…</p><a class="inline-btn details" href="#">Details<img class="chevron" src="./assets/chevron-green.png"/></a>
            </div>
            <div class="page-tile"><img class="tile-icon" src="./assets/learning.png" alt="icon"/>
              <h2>Learning</h2>
              <p>Two line description - (16px) Lorem Ipsum is simply dummy text of the…</p><a class="inline-btn details" href="#">Details<img class="chevron" src="./assets/chevron-green.png"/></a>
            </div>
            <div class="page-tile"><img class="tile-icon" src="./assets/action.png" alt="icon"/>
              <h2>Self Service</h2>
              <p>Two line description - (16px) Lorem Ipsum is simply dummy text of the…</p><a class="inline-btn details" href="#">Details<img class="chevron" src="./assets/chevron-green.png"/></a>
            </div>
          </div>
          <div class="contact-footer">
            <hr class="blade-hr">
            <div class="contact-footer-content"><img src="./assets/icon-thumbs.png" alt="icon">
              <h5>17</h5>
            </div>
            <hr class="blade-hr">
          </div>
          <div class="footer-icons">
            <div class="footer-icons"><img src="./assets/icon-bell.png" alt="bell icon"><img src="./assets/icon-tag.png" alt="bell icon"></div>
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="./javascript/mobile-menu.js"></script>
  </body>
</html>
