src/pug/pages/login.pug
extends ../layout-login.pug
include ../utility/accordian-mixin.pug

block title
    title Index page | Example of extending blocks

block header
    .login-header
        .top
            a(href="http://www.metrolinx.com/en/default.aspx")
                img(src="./assets/mx-wordmark.png", alt="metrolinx logo").logo

block login
    .login-flex
        .login-img
            img(src="./assets/remote_access_img.png", alt="metrolinx employees")
        .login-form
            h2 Remote Access Portal <br/>for Metrolinx Employees
            hr.heading-hr
            p This portal provides our employees with a convenient and secure way to access job and personal information from outside of Metrolinx.
            p What service(s) can be accessed through this portal? Currently, there is one service that can be acessed through this portal which is 'HR Self-Service'. 
            p After logging in and selecting your service destination, you will require your mobile device to receive an access code, part of our enhanced security protocols to keep your information safe. Simply click “Send code,” enter it once it arrives and verify to continue to your destination
            #widget-container
            p.okta-issue Technical issues? If you are experiencing difficulty accessing this portal, please contact I&IT Helpdesk at 416.202.5000.

block faq
    .faq-wrapper
        h2 Frequently Asked Questions
        hr.heading-hr
        h4 Who can access this portal?
        hr.blade-hr
        p Current Metrolinx employees (those in full-time and part-time) can access this portal.
        h4 Signing into this portal for the first time? Here’s what you need to know.
        hr.blade-hr
        p.
            In order to complete the registration process, please have your mobile device available as you will be receiving an SMS (text) message to enable the multi-factor authentication for your account. A one-time passcode will be sent to the number you entered.<br /><br />

            Don’t forget to save the link in your favourites for future access.<br /><br />

            Have questions? Metrolinx employees are encouraged to contact I&IT Helpdesk at 416.202.5000.<br /><br />

            Once finished using HR Self-Service, please ensure you log out and close all browsers. 

block footer
    .footer-wrapper
        .footer-links
            a(href="http://www.metrolinx.com/en/aboutus/privacy.aspx") Privacy
            a(href="http://www.metrolinx.com/en/aboutus/terms_conditions.aspx") Terms & Conditions
    .copyright-wrapper
        div.copyright
            a(href="#")
                img(src="./assets/arrow-top-footer.png", alt="up arrow")
            div Copyright &copy; Metrolinx 2019
        p.contact-info 97 Front Street West, Toronto, ON  M5J 1E6, Phone: 416-874-5900
    script(src="./javascript/okta.js")

build/login.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index page | Example of extending blocks</title>
    <!-- Iclude any head elements here-->
    <!-- include partials/head-->
    <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.14.0/js/okta-sign-in.min.js"></script>
    <link href="css/main-login.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <header>
        <div class="login-header">
          <div class="top"><a href="http://www.metrolinx.com/en/default.aspx"><img class="logo" src="./assets/mx-wordmark.png" alt="metrolinx logo"></a></div>
        </div>
      </header>
      <main>
        <div class="login-flex">
          <div class="login-img"><img src="./assets/remote_access_img.png" alt="metrolinx employees"></div>
          <div class="login-form">
            <h2>Remote Access Portal <br/>for Metrolinx Employees</h2>
            <hr class="heading-hr">
            <p>This portal provides our employees with a convenient and secure way to access job and personal information from outside of Metrolinx.</p>
            <p>What service(s) can be accessed through this portal? Currently, there is one service that can be acessed through this portal which is 'HR Self-Service'. </p>
            <p>After logging in and selecting your service destination, you will require your mobile device to receive an access code, part of our enhanced security protocols to keep your information safe. Simply click “Send code,” enter it once it arrives and verify to continue to your destination</p>
            <div id="widget-container"></div>
            <p class="okta-issue">Technical issues? If you are experiencing difficulty accessing this portal, please contact I&IT Helpdesk at 416.202.5000.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <h2>Frequently Asked Questions</h2>
          <hr class="heading-hr">
          <h4>Who can access this portal?</h4>
          <hr class="blade-hr">
          <p>Current Metrolinx employees (those in full-time and part-time) can access this portal.</p>
          <h4>Signing into this portal for the first time? Here’s what you need to know.</h4>
          <hr class="blade-hr">
          <p>
            In order to complete the registration process, please have your mobile device available as you will be receiving an SMS (text) message to enable the multi-factor authentication for your account. A one-time passcode will be sent to the number you entered.<br /><br />
            
            Don’t forget to save the link in your favourites for future access.<br /><br />
            
            Have questions? Metrolinx employees are encouraged to contact I&IT Helpdesk at 416.202.5000.<br /><br />
            
            Once finished using HR Self-Service, please ensure you log out and close all browsers. 
            
          </p>
        </div>
      </main>
      <footer>
        <div class="footer-wrapper">
          <div class="footer-links"><a href="http://www.metrolinx.com/en/aboutus/privacy.aspx">Privacy</a><a href="http://www.metrolinx.com/en/aboutus/terms_conditions.aspx">Terms & Conditions</a></div>
        </div>
        <div class="copyright-wrapper">
          <div class="copyright"><a href="#"><img src="./assets/arrow-top-footer.png" alt="up arrow"></a>
            <div>Copyright &copy; Metrolinx 2019</div>
          </div>
          <p class="contact-info">97 Front Street West, Toronto, ON  M5J 1E6, Phone: 416-874-5900</p>
        </div>
        <script src="./javascript/okta.js"></script>
      </footer>
    </div>
  </body>
</html>
