src/pug/pages/parentalLeave.pug
extends ../layout.pug
include ../utility/nav-item.pug
include ../utility/crosslink.pug
include ../utility/accordian-mixin.pug

block title
    title Index page | Example of extending blocks

block styles
    link(href='css/pages/leaveOfAbsence.css', rel='stylesheet')

block black-nav
    +nav-item('Leaves of Absence')
    +nav-item('Benefits')
    +nav-item('Pension')
    +nav-item('Employee Pay')

block transparent-nav
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')

block content-body
    h2 Pregnancy & Parental Leave
    hr.heading-hr
    .text-block
        h4 Lorem ipsum dolor sit amet, consectetur adipiscingm.
    .overview
        h4 Overview
        hr.blade-hr
        .
            All pregnant employees who have 13 weeks or more of service are eligible for Pregnancy Leave in conjunction with the requirements of the Employment Standards Act, 2000. This leave includes up to 17 weeks of Pregnancy Leave.
            Birth mothers who take Pregnancy Leave are entitled to up to 35 weeks of unpaid Parental Leave. A biological father or adopted parents can take up to 37 weeks of unpaid time off work.
        br
        .
            In order to prepare for your leave, please use the&nbsp;
        a(href="#").inline-btn Employee Checklist
        .
            &nbsp;for a listing of tasks that will need to be completed prior to your leave.
    .seb
        h4 Supplemental Employment Benefit (SEB)
        hr.blade-hr
        p Metrolinx offers a Pregnancy Supplemental Employment Benefit for full time non-union employees who have completed at least one (1) year of regular full-time service, and who are in receipt of Employment Insurance benefits.
        div
            .tab-flex
                button(onclick="onTabClick(event, 'tab1')").tab-active Pregnancy SEB
                button.tab-nonactive(onclick="onTabClick(event, 'tab2')") Parental SEB
            div
                .tab-content#tab1
                    .
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Lectus quam id leo in. Massa ultricies mi quis hendrerit dolor magna eget est lorem. Posuere urna nec tincidunt praesent semper feugiat nibh.
                    .accordian
                        +accordian("Steps to follow before Leave", 'green')
                        .content-acc.layout-stacked-half
                            .inner-grid 
                                .item1
                                    .media
                                        h2 1
                                    h4 Notification
                                    p Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave.
                                    h5 When
                                    .
                                        No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice.
                                .item2
                                    .media
                                        h2 2
                                    h4 Attestation
                                    p Include a medical note from your doctor confirming your expected due date.
                .tab-content#tab2
                    .
                        Eligible employees who receive the Pregnancy SEB allowance will be paid as follows:
                    br
                    ul
                        li For the first two (2) weeks of the Employment Insurance Pregnancy benefit period (the waiting period), ninety-three percent (93%) of regular weekly salary.
                        li For up to a maximum of fifteen (15) additional weeks, the difference between ninety-three percent (93%) of regular weekly salary and the sum of the weekly Employment Insurance Pregnancy benefit.
                    .accordian
                        +accordian("Steps to follow before Leave", 'green')
                        .content-acc.layout-stacked-quarter
                            .inner-grid 
                                .item1
                                    .media
                                        h2 1
                                    h4 Notification
                                    p Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave.
                                    h5 When
                                    .
                                        No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice.
                                .item2
                                    .media
                                        h2 2
                                    h4 Attestation
                                    p Include a medical note from your doctor confirming your expected due date.
                                .item3
                                    .media
                                        h2 3
                                    h4 Confirmation
                                    p You will receive a letter from HR to confirm your Pregnancy and/or Parental Leave dates, pension & benefit details and an Authorization for Benefit Deductions form, if applicable.
                                .item4
                                    .media
                                        h2 4
                                    h4 Form Submission
                                    p 
                                        .
                                            Complete and submit the Authorization for Benefit Deductions / Cancellation Form to:
                                        br
                                        .
                                            HR Coordinator
                                        br
                                        .   
                                            Metrolinx, Human Resources
                                        br
                                        .
                                            97 Front Street West
                                        br
                                        .   
                                            Toronto, ON M5J 1E6
                                    h5 When
                                    .
                                        Before the last day of work prior to your leave, or as soon as possible after your leave begins.

                            



block inner-grid-links
    .inner-grid-links
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')

block contact-footer-content
    p
        a(href="#") Contact HR

block footer-icons
    .footer-icons
        img(src="./assets/icon-bell.png", alt="bell icon")
        img(src="./assets/icon-tag.png", alt="bell icon")

build/parentalLeave.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page | Example of extending blocks</title>
    <!-- Iclude any head elements here-->
    <!-- include partials/head-->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/pages/leaveOfAbsence.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <header></header>
      <main class="grid-wrapper">
        <div class="item-1">
          <div class="header"><img src="./assets/myHR_logo_white.png" alt="My HR Logo">
            <div class="nav-btns">
              <button class="primary-btn">My Self Service</button>
            </div>
            <button class="mobile-menu-btn" onclick="toggleMenu()"><img src="./assets/mobile-menu.png" alt="mobile menu"></button>
            <button class="mobile-close-btn" onclick="toggleMenu()"><img src="./assets/close-btn.png" alt="mobile menu"></button>
          </div>
        </div>
        <div class="item-2 hide">
          <div class="black-nav"><a href="#">
              <h5>Leaves of Absence</h5></a><a href="#">
              <h5>Benefits</h5></a><a href="#">
              <h5>Pension</h5></a><a href="#">
              <h5>Employee Pay</h5></a>
          </div>
          <div class="transparent-nav"><a href="#">
              <h5>Lorem Ipsum</h5></a><a href="#">
              <h5>Lorem Ipsum</h5></a><a href="#">
              <h5>Lorem Ipsum</h5></a><a href="#">
              <h5>Lorem Ipsum</h5></a>
          </div>
        </div>
        <div class="item-3">
          <h2>Pregnancy & Parental Leave</h2>
          <hr class="heading-hr">
          <div class="text-block">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscingm.</h4>
          </div>
          <div class="overview">
            <h4>Overview</h4>
            <hr class="blade-hr">All pregnant employees who have 13 weeks or more of service are eligible for Pregnancy Leave in conjunction with the requirements of the Employment Standards Act, 2000. This leave includes up to 17 weeks of Pregnancy Leave.
            Birth mothers who take Pregnancy Leave are entitled to up to 35 weeks of unpaid Parental Leave. A biological father or adopted parents can take up to 37 weeks of unpaid time off work.<br>In order to prepare for your leave, please use the&nbsp;<a class="inline-btn" href="#">Employee Checklist</a>&nbsp;for a listing of tasks that will need to be completed prior to your leave.
          </div>
          <div class="seb">
            <h4>Supplemental Employment Benefit (SEB)</h4>
            <hr class="blade-hr">
            <p>Metrolinx offers a Pregnancy Supplemental Employment Benefit for full time non-union employees who have completed at least one (1) year of regular full-time service, and who are in receipt of Employment Insurance benefits.</p>
            <div>
              <div class="tab-flex">
                <button class="tab-active" onclick="onTabClick(event, 'tab1')">Pregnancy SEB</button>
                <button class="tab-nonactive" onclick="onTabClick(event, 'tab2')">Parental SEB</button>
              </div>
              <div>
                <div class="tab-content" id="tab1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Lectus quam id leo in. Massa ultricies mi quis hendrerit dolor magna eget est lorem. Posuere urna nec tincidunt praesent semper feugiat nibh.
                  <div class="accordian">
                    <h4>Steps to follow before Leave</h4>
                    <hr class="blade-hr"/>
                    <button class="chevron-acc" onclick="accToggle(event)"><img src="./assets/chevron-green.png" alt="chevron"/></button>
                    <div class="content-acc layout-stacked-half">
                      <div class="inner-grid"> 
                        <div class="item1">
                          <div class="media">
                            <h2>1</h2>
                          </div>
                          <h4>Notification</h4>
                          <p>Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave.</p>
                          <h5>When</h5>No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice.
                        </div>
                        <div class="item2">
                          <div class="media">
                            <h2>2</h2>
                          </div>
                          <h4>Attestation</h4>
                          <p>Include a medical note from your doctor confirming your expected due date.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" id="tab2">Eligible employees who receive the Pregnancy SEB allowance will be paid as follows:<br>
                  <ul>
                    <li>For the first two (2) weeks of the Employment Insurance Pregnancy benefit period (the waiting period), ninety-three percent (93%) of regular weekly salary.</li>
                    <li>For up to a maximum of fifteen (15) additional weeks, the difference between ninety-three percent (93%) of regular weekly salary and the sum of the weekly Employment Insurance Pregnancy benefit.</li>
                  </ul>
                  <div class="accordian">
                    <h4>Steps to follow before Leave</h4>
                    <hr class="blade-hr"/>
                    <button class="chevron-acc" onclick="accToggle(event)"><img src="./assets/chevron-green.png" alt="chevron"/></button>
                    <div class="content-acc layout-stacked-quarter">
                      <div class="inner-grid"> 
                        <div class="item1">
                          <div class="media">
                            <h2>1</h2>
                          </div>
                          <h4>Notification</h4>
                          <p>Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave.</p>
                          <h5>When</h5>No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice.
                        </div>
                        <div class="item2">
                          <div class="media">
                            <h2>2</h2>
                          </div>
                          <h4>Attestation</h4>
                          <p>Include a medical note from your doctor confirming your expected due date.</p>
                        </div>
                        <div class="item3">
                          <div class="media">
                            <h2>3</h2>
                          </div>
                          <h4>Confirmation</h4>
                          <p>You will receive a letter from HR to confirm your Pregnancy and/or Parental Leave dates, pension & benefit details and an Authorization for Benefit Deductions form, if applicable.</p>
                        </div>
                        <div class="item4">
                          <div class="media">
                            <h2>4</h2>
                          </div>
                          <h4>Form Submission</h4>
                          <p>
                             Complete and submit the Authorization for Benefit Deductions / Cancellation Form to:<br>HR Coordinator<br>Metrolinx, Human Resources<br>97 Front Street West<br>Toronto, ON M5J 1E6</p>
                          <h5>When</h5>Before the last day of work prior to your leave, or as soon as possible after your leave begins.
                          
                          
                          
                          
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="related-crosslinks">
            <h2>Related Links</h2>
            <div class="inner-grid-links">
              <div class="crosslink"><a href="#">
                  <h4>Crosslink 1</h4></a>Two line description - (16px) Lorem Ipsum is simply dummy text…
              </div>
              <div class="crosslink"><a href="#">
                  <h4>Crosslink 1</h4></a>Two line description - (16px) Lorem Ipsum is simply dummy text…
              </div>
              <div class="crosslink"><a href="#">
                  <h4>Crosslink 1</h4></a>Two line description - (16px) Lorem Ipsum is simply dummy text…
              </div>
            </div>
          </div>
          <div class="contact-footer">
            <hr class="blade-hr">
            <p><a href="#">Contact HR</a></p>
            <hr class="blade-hr">
          </div>
          <div class="footer-icons">
            <div class="footer-icons"><img src="./assets/icon-bell.png" alt="bell icon"><img src="./assets/icon-tag.png" alt="bell icon"></div>
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="./javascript/accordians.js"></script>
    <script src="./javascript/showHide.js"></script>
    <script src="./javascript/tabs.js"></script>
    <script src="./javascript/responsive-tables.js"></script>
    <script src="./javascript/mobile-menu.js"></script>
    <script src="./javascript/tiny-slider.js"></script>
    <script src="./javascript/carousel.js"></script>
  </body>
</html>
